<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Allow sending RUN_COMMAND intents to Termux for SSH integration -->
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <!-- Runtime notifications permission (Android 13+) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Declare visibility of the Termux package on newer Android versions -->
    <queries>
        <package android:name="com.termux" />
    </queries>

    <application
        android:name=".JDconnectApp"
        android:allowBackup="true"
        android:label="JDconnect"
        android:supportsRtl="true"
        android:theme="@style/Theme.JDconnect"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">


        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.JDConnectMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>
